<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p = "http://www.springframework.org/schema/p"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="user" class="Lesson3.ByName.User" autowire="byName" p:id="1" p:name="Egor" p:surname="Shurov" scope="prototype"/>
    <bean id="info" class="Lesson3.ByName.Info" p:id="1" p:balance="100"/>

    <bean id="userByType" class="Lesson3.ByType.User" autowire="byType" p:surname="Shurov" p:name="Len" scope="prototype"/>
    <bean id="infoByType" class="Lesson3.ByType.Info" p:id="1" p:balance="100"/>
    <bean id="infoByTypeImpl" class="Lesson3.ByType.InfoImpl" p:id="2" p:balance="188" primary="true"/>

    <bean id="userByConstructor" class="Lesson3.ByConstructor.User" autowire="constructor" p:surname="Shurov" p:name="Len" scope="prototype"/>
    <bean id="infoByConstructor" class="Lesson3.ByConstructor.Info" p:id="1" p:balance="100"/>
    <bean id="infoByConstructorImpl" class="Lesson3.ByConstructor.InfoImpl" p:id="2" p:balance="188" primary="true"/>
</beans>